[Unit]
Description=VNC Server for display %i
After=syslog.target network.target

[Service]
Type=forking
User=appuser
Group=appuser
WorkingDirectory=/home/appuser
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :%i -geometry 1920x1080 -depth 24 -localhost
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
